  html {
    width: 100%;
    height: 100%;
  }

  body {
    background-image: linear-gradient(white, grey);
  }
  h1 {
    color: orange;
  }
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
}

.footer-text {
    max-width: 600px;
    text-align: center;
    margin: auto;
}
